<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>land</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form>
   <center><h1>PROJECT MANAGEMENT</h1></center>
    <p>WELCOME TO PROJECT MANAGEMENT</p><br><br><br>
   <center><p><a href="login">LOGIN HERE</a></p></center><br><br>
    <center><p><a href="register">REGISTER HERE</a></p></center><br>
    </form>
</body>
</html>